{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == "user-created" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close"   data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                
            {% elif cat == 'auth-success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close"   data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>The future of Personal Transport is here! </h2>
            <h4>We store the greatest concept cars of the future!</h4>
            <div><button class="btn btn-primary">Share Your Concept!</button>
                 <button class="btn btn-primary">Join Our Ranks</button>
                 <button class="btn btn-primary">Follow Our Newsletter</button>
            </div>
        </div>
        <!-- Header -->
        <section class="row" id="second">
            <div class="col-12-col-md-6" id='2nd-text'>
                <h3>Over the last 30 years we have gathered the best engineers <br> from the 
                    world who share our vision for creating the future of Transport.
                </h3>
                <h4>The result? We have the largest inventory of concept vehicles in the world.
                </h4>
            </div>
                <img src="../../static/images/flying_car2.png" alt="Flying Car" id="hv-image">
        </section>
    </header>
    <!-- Start of Middle section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>View Our Collection!</h2>
            <p>See our vision for the future and join our mission to 
                create sustainable (and awesome) Future Personal Transport!
            </p>
        </div>
    </section>
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/hovercar_2.jpg" alt="Hover Car" id='mid-image'>
            <h3>Hover Car Concept Cars</h3>
            <p>We have purchased over 11 viable hovercar concepts, 
                with 8 currently in final test phase!</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/self_driving_car.jpg" alt="Self driving car" id='mid-image'>
            <h3>Self Drive Vehicles</h3>
            <p>We currently have self-driving, machine learning vehicles 
                operating in over 14 countries around the world!
            </p>

        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/25-years_supersleek.jpg" alt="Sleek Roadster" id='mid-image'>
            <h3>Sustainable and Sleek</h3>
            <p>Our inventory of electric roadsters, with designs from private 
                engineers spread accross world, holds over 62 models!</p>

        </div>
    </section>
</div>


{% endblock content %}
